/* reset */

html, body, div, span, h1, h2, h3, p, blockquote, 
cite, em, img, q, strong, dl, dt, dd, ol, ul, li, time, mark,
article, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, dl, footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { 
    content: ''; 
    content: none; 
}

body { 
    font: 13px/1.231 sans-serif; 
    *font-size:small; 
} 

/* base */

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

ol { list-style-type: decimal; }

nav ul, nav li { 
    margin: 0; 
    list-style:none; 
    list-style-image: none; 
}

::-moz-selection { 
    background: #EF0081;
    color: #fff; 
    text-shadow: none; 
}
::selection { 
    background: #EF0081;
    color: #fff; 
    text-shadow: none; 
}
a:link { -webkit-tap-highlight-color: #EF0081; }

/* primary */

html { height: 100%; }

html * {
    color-profile: srgb;
}

body {
    color: #073642;
    background-color: #eee8d5;
    height: 100%;
}

body > header {
    background-color: #93A1A1;
    position: absolute; 
    width: 100%;
}

nav li, nav h1 { 
    display: inline;
}

nav a {
    color: #586E75 !important;
    text-decoration: none;
    display: inline-block;
    padding: 4px 0px 4px 20px;
}

nav a:hover { 
    color: #fdf6e3 !important;
    background: transparent; 
}

nav h1 a {
    color: #eee8d5 !important;
    background-color: #d33682;
    padding-right: 20px;
}

nav h1 a:hover {
    color: white !important;
    background-color: #d33682;
    text-shadow: 1px 1px 6px #fff;
}

#wrapper {
    max-width: 980px;
    margin: 0px auto;
    height: 100%;
    background: #fdf6e3;
}

h1, h2 { 
    color: #d33682;
}

p + p {
    text-indent: 20px;
}

#notes h1 {
    border-bottom: 1px solid #93a1a1;
}

a, a:active, a:visited { color: #d33682; }
a:hover { background-color: #eee8d5; }

#main {
    background: #fdf6e3;
    padding: 32px 50px 40px;
}

#main > header {
    border-bottom: 1px solid #eee8d5;
    margin-bottom: 40px;
    padding: 20px 0px;
}

#main.talk > header {
    border-bottom: none;
    margin-bottom: 10px;
}

.slidelink {
    height: 30px;
    width: 30px;
    background-image: url(/media/img/slidelink.png);
}

dl {
    float: left;
    margin-right: 40px;
    max-width: 160px;
}

dd { 
    line-height: 1.6;
    padding-bottom: 10px; 
}

img.representative {
    float: left;
    margin: 0px 20px 20px 0px;
    background: #eee8d5;
    padding: 6px;
}

.group:after {
    clear: both;
    content: '.';
    display: block;
    height: 0px;
    visibility: hidden;
}

section {
    margin-top: 40px;
}

#notes article {
    margin: 20px 0px 40px;
    border-bottom: 1px solid #eee8d5;
    padding-bottom: 40px;
}

#notes article:last-child {
    margin: 20px 0px 0px;
    padding: 0px;
    border-bottom: none;
}

#notes article header {
    width: 160px;
    float: left;
}

#notes article p {
    margin: 0px 180px;
}

#notes article blockquote {
    border-left: 3px solid #eee8d5;
    margin: 20px 0px 20px 190px;
}

#notes article blockquote p {
    margin: 0px;
    padding-left: 10px;
    max-width: 474px;
}

ul {
    list-style-type: none;
}

ul.index-list {
    margin-left: 180px;
}

ul.inline {
    display: inline;
}

li {
    margin-bottom: 40px;
}

li:last-child {
    margin-bottom: 0px;
}

li hgroup {
    padding-bottom: 10px;
}

a.block {
    display: block;
    color: #073642;
    text-decoration: none;
}

ul.inline li {
    display: inline;
}

ul.inline li:after {
  content: ", ";
}

/* font */

@font-face {
    font-family: 'CharisSILRegular';
    src: url('type/CharisSILR-webfont.eot');
    src: url('type/CharisSILR-webfont.eot?#iefix') format('eot'),
         url('type/CharisSILR-webfont.woff') format('woff'),
         url('type/CharisSILR-webfont.ttf') format('truetype'),
         url('type/CharisSILR-webfont.svg#webfontNWHt3Q3t') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CharisSILItalic';
    src: url('type/CharisSILI-webfont.eot');
    src: url('type/CharisSILI-webfont.eot?#iefix') format('eot'),
         url('type/CharisSILI-webfont.woff') format('woff'),
         url('type/CharisSILI-webfont.ttf') format('truetype'),
         url('type/CharisSILI-webfont.svg#webfontPTrm7T8w') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans500';
    src: url('type/museosans_500-webfont.eot');
    src: url('type/museosans_500-webfont.eot?#iefix') format('eot'),
         url('type/museosans_500-webfont.woff') format('woff'),
         url('type/museosans_500-webfont.ttf') format('truetype'),
         url('type/museosans_500-webfont.svg#webfontrc30IsVV') format('svg');
    font-weight: normal;
    font-style: normal;
}

em {
    font-family: CharisSILItalic, 'Palatino Linotype', Palatino, 'URW Palladio L', serif;
    font-style: italic;
}

body {
    font-family: CharisSILRegular, 'Palatino Linotype', Palatino, 'URW Palladio L', serif;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    font-family: MuseoSans500, Arial, Helvetica, sans-serif;
}

nav h1 { 
    font-size: 100%;
}

h1 { font-size: 26px; }

li h2 { font-size: 18px; }

article h2, #notes h1, h3 { 
    font-family: MuseoSans500, Arial, Helvetica, sans-serif;
    font-size: 14px; 
    text-transform: uppercase; 
    letter-spacing: 0.1em;
}

dl {
    font-family: MuseoSans500, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

dt { font-weight: bold; }

/* responsive */

@media screen and (max-width: 830px) {
    img.representative {
        float: none;
    }
    #notes article p {
        margin-right: 0px;
    }
}

@media screen and (max-width: 650px) {
    img.representative {
        display: none;
    }
    ul.index-list {
        margin-left: 0px;
    }
    #notes article header {
        float: none;
    }
    #notes article p {
        margin-left: 0px;
    }
    #notes article blockquote {
        margin-left: 10px;
}
}

@media screen and (max-width: 575px) {
    dl {
        float: none;
    }
}

/* print */

@media print {
  * { 
      background: transparent !important; 
      color: black !important; 
      text-shadow: none !important; 
      filter:none !important;
      -ms-filter: none !important; 
  }
  a, a:visited { 
      color: #444 !important; 
      text-decoration: underline; 
  }
  a[href]:after { content: ' (' attr(href) ')'; }
  a[href^='javascript:']:after, a[href^='#']:after { content: ''; }
  blockquote { 
      border: 1px solid #999; 
      page-break-inside: avoid; 
  }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2 { 
      orphans: 3; 
      widows: 3; 
  }
  h2 { page-break-after: avoid; }
}