{% extends "boilerplate.html" %}

{% block title %}Ryan Shaw's notes on "{{ text.title }}"{% endblock %}

{% block description %}Short synopsis of and notes on &quot;{{ text.title }}.&quot;{% endblock %}

{% load markdown typogrify timeago %}

{% block main %}
    <article id="main">
      <header>
        {% if text.subtitle %}
        <hgroup>
          {% endif %}      
          <h1>{{ text.title }}</h1>
          {% if text.subtitle %}
          <h2>{{ text.subtitle }}</h2>
        </hgroup>
        {% endif %}
      </header>
      <div class="group">
        <details>
          <dl>
            {% if text.authors|length > 1 %}
            <dt>Authors</dt>
            <dd>
              <ul>
                {% for author in text.authors %}
                <li>{{ author }}</li>
                {% endfor %}
              </ul>
            </dd>
            {% else %}
            <dt>Author</dt>
            <dd>{{ text.authors|first }}</dd>
            {% endif %}
            <dt>Year</dt>
            <dd>{{ text.year }}</dd>
            <dt>Link</dt>
            <dd><a href="{{ text.url }}">{{ text.domain }}</a></dd>
          </dl>
        </details>
        <a href="{{ text.url }}">
          <img class="representative" src="{{ text.image.url }}" 
               width="{{ text.image.width }}" height="{{ text.image.height }}"/>
        </a>
        <div class="sweet-justice">
          {{ text.markdown|markdown|typogrify }}
        </div>
      </div>
      <section id="notes">
        <h1>Notes</h1>
        {% for note in text.notes %}
        <article>
          <header>
            <h2>{{ note.created|timeago:"F j, Y" }}</h2>
          </header>
          <div class="sweet-justice">
            {{ note.markdown|markdown|typogrify }}
          </div>
        </article>
        {% endfor %}
      </section>
    </article>
{% endblock %}