{% extends "registration/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

{% if validlink %}

{% if form.errors %}
<p class="error">Your passwords didn't match. Please try again.</p>
{% else %}
<p>Please choose a new password and enter it twice 
so we can verify you typed it in correctly.</p>
{% endif %}

<form action="" method="post">
{% csrf_token %}
<h3><span class="title">{{ form.new_password1.label_tag }}</span></h3>
<p>{{ form.new_password1 }}</p>
<h3><span class="title">{{ form.new_password2.label_tag }}</span></h3>
<p>{{ form.new_password2 }}</p>
<button type="submit">Set New Password</button>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already 
been used.<br/>Please 
<a href="{% url django.contrib.auth.views.password_reset %}">
request a new password reset</a>.</p>

{% endif %}


{% endblock %}
