{% extends "registration/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">
No one with that email address is registered.<br/>Please contact 
<a href="mailto:ryanshaw@unc.edu">Ryan Shaw</a> if you need
authenticated access to this site.
</p>
{% else %}
<p>Enter your e-mail address below to receive instructions 
for setting a new password.</p>
<p>Note: Make sure that you use the same email address that you have
registered in Connect Carolina, or <a href="mailto:ryanshaw@unc.edu">
contact Ryan</a> to switch to a different email.</p>
{% endif %}

<form action="" method="post">
{% csrf_token %}
<h3><span class="title">{{ form.email.label_tag }}</span></h3>
<p>{{ form.email }}</p>
<button type="submit">Reset Password</button>
</form>

{% endblock %}
