<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}"/>
  <meta name="author" content="Ryan Shaw"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/media/css/style.css?v=4"/>{% block style %}{% endblock %}{% block links %}{% endblock %}
  <script src="/media/js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
  <header>
    {% load nav %}
    <nav>
      <ul>
        <li><h1>{% navlink request "/" "Ryan Shaw" %}</h1></li>
        <li>{% navlink request "/teaching/" "teaching" %}</li>
        <li>{% navlink request "http://scholar.google.com/citations?user=FNcv2_wAAAAJ" "writing" %}</li>
        <li>{% navlink request "/dissertation/" "dissertation" %}</li>
      </ul>
    </nav>
  </header>
  <div id="wrapper"{% block wrapperclass %}{% endblock %}>
    {% block main %}{% endblock %}
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='/media/js/libs/jquery-1.5.2.min.js'>\x3C/script>")</script>
  <script src="/media/js/plugins.js"></script>
  <script src="/media/js/script.js"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24052364-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>