{% extends "boilerplate.html" %}

{% block title %}Digital Humanities ( in | and | vs. ) iSchools?{% endblock %}

{% block description %}A panel to be held at the 2012 iConference, Thursday, February 9th, 8:30-10AM.{% endblock %}

{% block style %}
<style> 
iframe {
  width: 850px;
  height: 1800px;
  border: 1px solid #586E75;
  margin-top: 45px;
}
</style>
{% endblock %}

{% block main %}
<article id="main">
<iframe src="https://docs.google.com/document/pub?id=1aVhhuhcl4QIVWvt4EZJZaCY3IljbuyGDR86oaL46nGo&amp;embedded=true" scrolling="no"></iframe>
</article>
{% endblock %}