{% extends "boilerplate.html" %}

{% block title %}Ryan Shaw: Events and Periods as Concepts for Organizing Historical Knowledge{% endblock %}

{% block description %}Ryan Shaw's doctoral dissertation.{% endblock %}

{% load typogrify %}

{% block links %}
  <link rel="shortlink" href="http://aesh.in/diss"/>{% endblock %}

{% block main %}
<article id="main">
  <header><h1>Events and Periods as Concepts for Organizing Historical Knowledge</h1></header>
  <div class="group">
    <details>
      <dt>Author</dt>
      <dd><a href="/">Ryan Shaw</a></dd>
      <dt>Publication</dt>
      <dd>Ph.D. thesis</dd>
      <dt>Institution</dt>
      <dd>University of California, Berkeley</dd>
      <dt>Year</dt>
      <dd>2010</dd>
      <dt>Download</dt>
      <dd><a href="/media/pdf/shaw-2010-events-and-periods.pdf">PDF</a></dd>
    </details>
    <a href="/media/pdf/shaw-2010-events-and-periods.pdf">
      <img class="representative" src="/media/img/dissertation.png" width="320" height="414"/>
    </a>
    <p class="sweet-justice">
      Events and periods are not objectively existing phenomena, but
      <em>concepts</em> we use to organize our knowledge of
      history. They make historical change comprehensible and help us
      orient ourselves with respect to the wider culture in which we
      participate. Thus they are indispensable for describing both the
      content of history scholarship and the context of documents that
      serve as evidence for that scholarship. As historical discourse
      shifts its emphases and new aspects of the past come to be
      considered significant, periods and events are subject to
      constant change. Despite this change, we can model historical
      periods and events in systems of knowledge organization because
      it is possible to discern and formally describe relatively
      stable recurrent patterns in their narration.
    </p>
</article>
{% endblock %}