<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{{ course }}{% block title %}{% endblock %}</title>
    <!--<link rel="stylesheet" href="/media/css/fluid.gs.css" type="text/css" media="screen"/>-->
    <!--[if lt IE 8]><link rel="stylesheet" href="/media/css/fluid.gs.lt_ie8.css" type="text/css" media="screen"><![endif]-->
    <link rel="stylesheet" href="/media/css/base.css" type="text/css"/>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="fluid_grid_layout">
      {% load markdown typogrify %}
      <nav>
        <ul class="nav">
          {% with course.get_absolute_url as course_url %}
          <li><a href="{{ course_url }}">Basic info.</a></li>
          <li><a href="{{ course_url }}schedule/">Schedule.</a></li>
          <li><a href="{{ course_url }}assignments/">Assignments.</a></li>
          <li><a href="{{ course_url }}guidelines/">Guidelines.</a></li>
          {% endwith %}
          <li><a href="/courses/{{ course.slug }}/blog/">Blog.</a></li>
        </ul>
      </nav>    
      <header>
        <h1>{{ course.title }}</h1>
        <h2>
          {{ course.department }}, {{ course.number }}, 
          {{ course.get_semester_display }} {{ course.get_year_display }}
        </h2>
      </header>
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>    
<!--
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>    
-->
    {% block js %}{% endblock %}
  </body>   
</html>