{% extends "base.html" %}

{% load markdown typogrify %}

{% block title %}: Discussion{% endblock %}

{% block content %}
{% filter typogrify %}
<h3><span class="title">Discussion questions</span></h3>
{% if assigned.discussion_questions_posted %}
<div class="discussion">{{ assigned.discussion_questions|markdown }}</div>
{% else %}
<p>No discussion questions have been posted yet.</p>
{% endif %}
{% if user == assigned.discussion_leader %}
<a class="button" href="{% url course_edit_discussion_view assigned.id %}">Edit</a>
{% endif %}
{% endfilter %}
{% endblock %}