{% extends "base.html" %}

{% load markdown typogrify %}

{% block title %}: Guidelines{% endblock %}

{% block content %}
{% filter typogrify %}
<section id="evaluation">
<h3><span class="title">Evaluation &amp; Grading</span></h3>
{{ course.evaluation|markdown }}
</section>
<section id="participation">
<h3><span class="title">Participation</span></h3>
{{ course.participation|markdown }}
</section>
<section id="honor">
<h3><span class="title">Honor Code</span></h3>
<p>You are expected to know and respect <a href="http://honor.unc.edu/">UNC Honor Code</a>. Collaboration, discussion, and seeking assistance from other students is encouraged in this class and is not inconsistent with the Honor Code. In the case of written work, all words drawn from others must be <a href="http://www.lib.unc.edu/instruct/tutorials.html">attributed appropriately</a>.</p>
</section>
{% endfilter %}
{% endblock %}