{% extends "base.html" %}

{% load markdown typogrify %}

{% block content %}
{% filter typogrify %}
<section id="instructor-info">
<h3><span class="title">Who's Teaching It</span></h3>
<p><a href="{{ course.instructor.url }}">{{ course.instructor.name }}</a></p>
</p>
</section>
<section id="course-info">
<h3><span class="title">When &amp; Where It Is</span></h3>
<p>
{{ course.times }}<br/>
{{ course.location }}
</p>
</section>
<section id="course-desc">
<h3><span class="title">What It Is</span></h3>
{{ course.description|markdown }}
</section>
<section>
<h3><span class="title">Is That All?</span></h3>
<p>Nope! You should probably check out the 
<a href="{{ course.get_absolute_url }}guidelines/">guidelines</a>.</p>
</section>
{% endfilter %}
{% endblock %}