<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="/media/css/base.css" type="text/css"/>
      {% block css %}{% endblock %}
    </head>
    <body>
      <div>
        {% block content %}{% endblock %}
      </div>
      {% block js %}{% endblock %}
    </body>
</html>
